[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = https://github.com/aers/FFXIVClientStructs.git
	
[submodule "lib/FFXIVClientStructs"]
	path = lib/FFXIVClientStructs
	url = https://github.com/aers/FFXIVClientStructs.git
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/MeowZWR/ECommons.git
[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/MeowZWR/PunishLib.git
